%%-----------------------------------------------------------------------------
%%
%% the cron tab running in erlang
%%
%% please see also crontab(5) : man 5 crontab
%%
%%  field               allowed values
%%  -----               --------------
%%  minute(m)           0-59
%%  hour(h)             0-23
%%  day of month(dom)   1-31
%%  month(mon)          1-12 
%%  day of week(dow)    0-7 (0 or 7 is Sun)
%%
%% Format:
%%
%% {{m, h, dom, mon, dow}, {M, F, A}}.
%% M:F(A) is excuted in a new erlang process
%%
%% Some exampls:
%%
%% {{0, 2, "*", "*", "*"}, {io, format, ["hello~n"]}}. 
%% print "hello" in hour 2 ervery day
%%
%% {{"0-59/2", "*", "*", "*", "*"}, {erlang, garbage, [whereis(user)]}}.
%% do the garbage collect on user process, every 2 minitues(0, 2, ..., 58) 
%%
%% {{0, "0-12/2,12-23/1", "*", "*", "*"}, {io, format, ["crontab!~n"]}}.
%% print "crontab!", every 2 hours between 0 and 12, every 1 hour between 12 and 23
%%
%%-----------------------------------------------------------------------------

{{"0-59/5" , "*" , "*", "*", "*"}, {lib_log  , online_num       , []}}. %% 在线人数统计
{{58       , 4   , "*", "*", "*"}, {lib_rank , update_luck_rank , []}}. %% 更新转盘排行榜
{{0        , 5   , "*", "*", "*"}, {lib_rank , update_day_rank  , []}}. %% 更新排行榜
{{1        , 5   , "*", "*", "*"}, {lib_rank , reset_day_rank   , []}}. %% 重置日排行
{{2        , 5   , "*", "*", "*"}, {srv_cache, clear_daily_count, []}}. %% 重置日计数器
{{0        , "*" , "*", "*", "*"}, {srv_cache, save_role_events , []}}. %% 回写角色离线事件
{{3        , 5   , "*", "*", 1  }, {lib_rank , update_week_rank , []}}. %% 重置周排行
{{4        , 5   , "*", "*", 1  }, {lib_rank , reset_week_rank  , []}}. %% 重置周排行
{{11       , 5   , "*", "*", "*"}, {srv_guild, save             , []}}. %% 回写帮会数据
{{8        , "*" , "*", "*", "*"}, {srv_guild, save2            , []}}. %% 回写帮会数据
{{0        , 19  , "*", "*", "*"}, {srv_guild, start_act        , [120]}}.
%% 刷新任务
{{0        , 6   , "*", "*", "*"}, {lib_conn , cast_event       , [world, 6016, []]}}.
%% 零点整
{{0        , 0   , "*", "*", "*"}, {lib_conn , cast_event       , [world, 6018, []]}}.
%% erlang:send(srv_cache, {refresh_rebate_shop, 72}).
%% {{"0-59/5" , 19  ,   7,   1, "*"}, {erlang   , send             , [srv_cache, {refresh_rebate_shop, 72}]}}.
%% {{0        , 12  ,   8,   1, "*"}, {erlang   , send             , [srv_cache, {refresh_rebate_shop, 72}]}}.
%% vim: filetype=erlang
